<div class="col-md-3">
    <div class="input-group">
        <input type="text" placeholder="查询文章" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">GO!</button>
                </span>
    </div>
    <jqcloud ng-model="hotTags" data-width="260" data-height="500"></jqcloud>
</div>
<div class="col-md-9">
    <tabset>
        <tab heading="新文章列表">
            <ul class="list-group list-group-hover list-group-striped article-list">
                <li class="list-group-item" ng-repeat="article in newArticles.articles">
                    <div class="row list-group-item-heading">
                        <div class="col-md-10"><a ng-href="art/article/{{article.id}}" class="list-group-item-heading"><h4>{{article.title}}</h4></a></div>
                        <div class="col-md-2"><a href="#">{{article.author.nick}}</a></div>
                        <div class="col-md-2">回复：{{article.replycount}}</div>
                    </div>
                    <div class="row list-group-item-text" >
                        <div class="col-md-8">
                            <a href="#" class="label label-default" ng-repeat="tag in article.tags">{{tag}}</a>
                        </div>
                        <div class="col-md-4">发表时间：{{article.addtimestring}}</div>
                    </div>
                </li>
            </ul>
        </tab>
        <tab heading="热门文章列表">
            <ul class="list-group list-group-hover list-group-striped">
                <li class="list-group-item" ng-repeat="article in hotArticles.articles">
                    <div class="row list-group-item-heading">
                        <div class="col-md-10"><a ng-href="art/article/{{article.id}}" class="list-group-item-heading"><h4>{{article.title}}</h4></a></div>
                        <div class="col-md-2"><a href="#">{{article.author.nick}}</a></div>
                        <div class="col-md-2">回复：{{article.replycount}}</div>
                    </div>
                    <div class="row list-group-item-text" >
                        <div class="col-md-8">
                            <a href="#" class="label label-default" ng-repeat="tag in article.tags">{{tag}}</a>
                        </div>
                        <div class="col-md-4">发表时间：{{article.addtimestring}}</div>
                    </div>
                </li>
            </ul>
        </tab>
        <tab heading="网站公告">
            notices
        </tab>
    </tabset>
</div>